@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600,700');

* {
  font-family: Lato;
}

body {
  height: 100vh;
  background: #f9f9f9;
}

.chart-box {
  padding-top: 20px;
  padding-left: 10px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.1);
}
